@model Pechka.DLL.ModelsForWEBUI.RegistrationModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <title>Регистрация</title>
</head>
<body>
    @using (Html.BeginForm("Registration","Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Регистрация</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.UserFirstName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserFirstName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.UserLastName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserLastName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(model => model.Email)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Email)
                @Html.ValidationMessageFor(model => model.Email)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.Password)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Password)
                @Html.ValidationMessageFor(model => model.Password)
            </div>
            <div class="form-group">
                <div style="position: relative;">
                    <label>Картинка</label>
                    <a class='btn' href='javascript:;'>
                        Выберите файл...
                        <input type="file" name="Image" size="40"
                               style="position: absolute; z-index: 2; top: 0;
                                                                                                                                        left: 0; filter: alpha(opacity=0); opacity: 0;
                                                                                                                                        background-color: transparent; color: transparent;"
                               onchange='$("#upload-file-info").html($(this).val());'>
                    </a>
                    <span class='label label-info' id="upload-file-info"></span>
                </div>
                <div class="form-control-static">Нет картинки</div>
            </div>
                <p>
                    <input type="submit" value="Регистрация" />
                </p>
</fieldset>
    }
</body>
</html>